
#form-send-contact {
 margin: 5px auto;
}
#form-send-contact dl dt {
 float: left;
}
#form-send-contact dl dt label {
 display: block;
 width: 200px;
}
#form-send-contact dl dd {
 margin: 2px;
}
.mirvanos_error {
 font-weight: 600;
 color: red;
 text-decoration: blink;
 font-size: large;
}
.buttony {
 background: transparent url(/kontakt/images/buttony.png) no-repeat top left;
 color: #4F4F4F;
 border-width: 0;
 width: 77px;
 height: 25px;
 font-weight: 600;
 font-size: 12px;
 margin: 4px;
}
.buttony:hover {
 background: transparent url(/kontakt/images/buttony.png) no-repeat bottom left;
}